<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>

	<script th:src="@{/jquery-3.3.1.js}" type="text/javascript"></script>

	<script type="text/javascript">
	 /*<![CDATA[*/
		$(document).ready(function(){
			
			$('#listAllCountry').on('change' , function(){
				
				var countryId = $('#listAllCountry option:selected').val();
				$.ajax({
					
					type:'GET',
					contentType: "application/json",
					url:'/loadState/' + countryId + '.html' ,
					success:function(result){
						
						var result =  JSON.parse(result);
						var s ='';
						console.log(result.length);
						
						for(var i = 0 ; i< result.length ; i++ )
							{
							s +='<option value="'+ result[i].id +'">' + result[i].name +'</option>'
							console.log("value of s" + s);
							}
						
						$('#listAllState').html(s);
					}
				})
				
			});
			
			
	$('#listAllState').on('change' , function(){
				
				var stateId = $('#listAllState option:selected').val();
				alert(stateId);
				$.ajax({
					
					type:'GET',
					contentType: "application/json",
					url:'/loadCities/' + stateId + '.html' ,
					success:function(result){
						
						var result =  JSON.parse(result);
						var c ='';
						console.log(result.length);
						
						for(var i = 0 ; i< result.length ; i++ )
							{
							c +='<option value="'+ result[i].id +'">' + result[i].name +'</option>'
							console.log("value of c" + c);
							}
						
						$('#listAllCity').html(c);
					}
				})
				
			});
			
			
		});
		 /*]]>*/
	
	</script>
	
	<style>
	
		#listAllCountry{
			width: 500px;
		}
		
		#listAllState
		{
			width: 500px;
		}
		#listAllCity
		{
			width: 500px;
		}
	
	</style>
</head>
<body>
	<h2>Hello</h2>


	<select id="listAllCountry" >
			 <option value= "select Country"></option>
             <option th:each="list : ${listAllCountry}" th:value="${list.id}" th:text="${list.name}"></option>

    </select>
    <br/>
    <select id="listAllState" >
    		 <option value= "select Country">select Country</option>
             <option th:each="list : ${s}" th:value="${list.id}" th:text="${list.name}"></option>

    </select>  
    <br/>
     <select id="listAllCity" >
      		 <option value= "select Country">select Country</option>
             <option th:each="list : ${c}" th:value="${list.id}" th:text="${list.name}"></option>

    </select>  
   <!--  <div id="listAllState"> </div> -->
    

</body>
</html>